<!DOCTYPE html>
<html>
  <head>
    <title>AmpliFire Energetics</title>
  </head>
  <body>
    <h1>AmpliFire Energetics</h1>
    <p>
      This is the home page for the AmpliFire Energetics
    </p>
  </body>
</html>