<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", products_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
<% end %>

<table>
  <tr>
    <td class="total price" colspan="4">
      <ul> 
        <% # This works but need to fix decimal, maybe put in partial or another metod in order_item.rb %> 
        <% # These two notes also raise errors and need to be removed for production %>
      </ul>
      Total: $<%= @order_items.collect { |oi| oi.valid? ? (oi.quantity.to_i * oi.unit_price.to_f) : 0 }.sum   %>
    </td>
  </tr>
</table>

<p>
  <%= link_to "Continue Shopping", products_url %> |
  <%= link_to "Checkout", '#' %>
</p>