<li>
    <%= link_to product.name, product %>
    <%= image_tag product.picture.url if product.picture? %>
    <% if logged_in? && current_user.admin? %>
        <%= link_to "delete", product, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
</li>

