<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <%= form_for(@product, url: newlisting_path, html: { multipart: true }) do |product| %>
        <%= render 'shared/error_messages', object: product.object %>
            
            <%= product.label :name %>
            <%= product.text_field :name, class: 'form_control' %>
            
            <%= product.label :description %>
            <%= product.text_field :description, class: 'form_control' %>
            
            <%= product.label :price %>
            <%= product.text_field :price, class: 'form_control' %>
            
            <%= product.submit "Create listing", class: "btn btn-primary" %>
            
            <span class="picture">
                <%= product.file_field :picture %>
            </span>

        <% end %>
    </div>
</div>

