<% if logged_in? && current_user.admin? %>
    <% provide(:title, "Create new listing") %>
    <h1>Create new listing</h1>
    <%= render 'product_form' %>
<% else %>
    <%= flash[:danger] = "Must be logged in as admin to create new listing" %>
    <% #redirect_to root_url(user flash.now if using redirect) 
     #(mabey use redirect_back_or(default) to redirect to login page, maybe not as users
     #can stumble across page %> 
<% end %>