<% provide(:title, @product.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="product_info">
            <li>
                <%= @product.name %>
                <%= image_tag @product.picture.url if @product.picture? %>
                <%= @product.description %>
                <%= "$#{@product.price}" %>
                <% if logged_in? && current_user.admin? %>
                    <%= link_to "delete", @product, method: :delete,
                                          data: { confirm: "You sure?" } %>
                <% end %>
            </li>
        </section>
    </aside>
</div>

