<footer class="footer">
    <small>
        <%= link_to "AmpliFire Energetics", root_path %>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <% if logged_in? && current_user.admin? %>
                <li><%= link_to "Log out", logout_path, method: "delete" %>
            <% else %>
                <li><%= link_to "Admin? Click here", login_path %></li>
            <% end %>
    </nav>
</footer>