<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "AmpliFire Energetics", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Products", products_path %></li>
                <% # For showing subtotal%>
                <li>
                    <%= render 'layouts/cart_text' %>
                </li>
                    <% if logged_in? && current_user.admin? %>
                        <%= render 'layouts/header_logged_in' %>
                    <% end %>
            </ul>
        </nav>
    </div>
</header>