<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><%= link_to "Create listing", newlisting_path %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    </ul>
</li>